.App {
  text-align: center;
  background-color: #3a7a3a;
  height: 100vh;
  width: 100vw;
  padding-top: 3%;
}

.App-displayStory {
  text-align: center;
  background-color: #3a7a3a;
  height: 100vh;
  width: 100vw;
  padding-top: 5%;
}

.App-read{
  text-align: center;
  background-color: #3a7a3a;
  height: 100vh;
  width: 100vw;
  padding-top: 5%;
  z-index: 0;
}

.App-contact{
  text-align: center;
  background-color: #3a7a3a;
  height: 100vh;
  width: 100vw;
  padding-top: 5%;
  z-index: 0;
}

.App-feedback{
  text-align: center;
  background-color: #3a7a3a;
  height: 100vh;
  width: 100vw;
  padding-top: 5%;
  z-index: 0;
}

.navbar {
  position: fixed;
  padding-right:400%;
  height:  54px;
  background-color: #356735;
  width: 100%;
  display: inline-block;
  z-index: 9999;
}

.navbar-element{
  display: inline-block;
  align-items: center;
}

.navbar-text{
  align-items:end;
  margin-left: 20px;
  font-size: larger;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 0vh;
  display: flex;
  justify-content:first baseline;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  background-color: #093a09;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center; 

}




.App-link {
  color: #61dafb;
}

.paragraph-body {
  text-align: left;
  text-indent: 60px;
}

.story-title {
  text-align: center;
  padding: 1px;
}

.story-view{
  width: 90%;
  
}

.photo {
  height: 54px;
  width: 50px; 
  vertical-align: middle;
}

.stock-photo{
  width: 100%;
  height: 200px;
}

.story-list{
  list-style-type: none;
  padding-right: 3.5%;
  margin: 0%;
  text-align: center;
  padding-inline-start: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
