.App {
  text-align: center;
  background-color: #184f18;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 0vh;
  display: flex;
  justify-content:first baseline;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  background-color: #093a09;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center; 

}




.App-link {
  color: #61dafb;
}

.paragraph-body {
  text-align: left;
  text-indent: 60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
